manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'Impute5 Imputation Pipeline | Vivek.Appadurai@RegionH.dk'
    mainScript = 'main.nf'
}

// Hard-coded paths that might change, depending on cluster/storage

params {
    impute5_reference = "/faststorage/jail/project/ibp_data_reference/HRC_v1.1/HRC_chr22.vcf.gz"
    minimac4_reference = "/faststorage/jail/project/iPSYCH_imputation_protocols/data/HRC_M3Vcf/HRC_v1.1_chr22.m3vcf"
    map = "/faststorage/jail/project/iPSYCH_imputation_protocols/data/Impute5-maps/chr22.b37.gmap.gz"
    gt = "/faststorage/jail/project/iPSYCH_imputation_protocols/people/vivapp/steps/SEPARATE/Cohort2016_toPhase_conformGT.chr22.splitMultiAllelic.minAC1.vcf.gz"
    out = "test"
    bcftools_path = "/faststorage/jail/project/cross_disorder_2/env/xdx_2/bin/bcftools"
    tabix_path = "/faststorage/jail/project/iPSYCH_imputation_protocols/env/impute-tools/bin/tabix"
    impute5_chunker_path = "/faststorage/jail/project/iPSYCH_imputation_protocols/scripts/impute5_v1.1.5/imp5Chunker_1.1.5_static"
    impute5_path = "/faststorage/jail/project/iPSYCH_imputation_protocols/scripts/impute5_v1.1.5/impute5_1.1.5_static"
    help = ""
    chr = 22
    minimac4_path = "/faststorage/jail/project/iPSYCH_imputation_protocols/scripts/Minimac4/release-build/minimac4"
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    errorStrategy = 'retry'
    maxRetries = 2
}

env {
    NXF_OPTS = "-Xms2g -Xmx4g"
}

process {
    withLabel: big_mem {
        cpus = 1
        memory = { 64.GB * task.attempt }
        time = '72h'
        clusterOptions = '--account=iPSYCH_imputation_protocols'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = '12h'
        clusterOptions = '--account=iPSYCH_imputation_protocols'
    }
}